.form
{
	width:25%;
	text-align: left;
	margin-left: 570px;
	border: 2px solid #0043ffd1;
	background-color: #5f5f5957;
	margin-top: 10px;
}
p{
	color: red;
	margin-left: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}


#id
{
   width:75%;
   padding: 10px;
   margin-top: 15px;
   margin-left: 25px;
}

#fname
{
   width:75%;
   padding: 10px;
   margin-top: 15px;
   margin-left: 25px;
}

#lname
{
   width: 75%;
   padding: 10px;
   margin-left: 25px;
   margin-top: 15px;
}

#email
{
   width: 75%;
   padding: 10px;
   margin-left: 25px;
   margin-top: 15px;
}
#phone
{
	padding: 10px;
	width: 75%;
	margin-left: 25px;
	margin-top: 15px;
}

#pass1
{
	padding: 10px;
	width: 75%;
	margin-left: 25px;
	margin-top: 15px;
}

#pass2
{
	padding: 10px;
	width: 75%;
	margin-left: 25px;
	margin-top: 15px;
}
.btn
{
	padding: 13px;
	color: white;
	background-color: #0043ffd1;
	margin-left: 130px;
	margin-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 20px;
}


.rf
{
	font-size: 29px;
	text-align: center;
	color: #0043ffd1;
}



#file
{
	
	width: 75%;
	margin-left: 25px;
	margin-top: 10px;
	width: 81%;
}
